@import "tailwindcss";

@theme {
  --color-primary: #7765DA;
  --color-secondary: #5767D0;
  --color-accent: #4F0DCE;
  --color-bg-light: #F2F2F2;
  --color-text-dark: #373737;
  --color-text-gray: #6E6E6E;
  --color-timer-red: #DC2626;
}

.button-gradient{
  background: linear-gradient(99.18deg, #8F64E1 -46.89%, #1D68BD 223.45%);
}

.intervue-gradient{
  background: linear-gradient(90deg, #7565D9 0%, #4D0ACD 100%);
}

.card-gradient{

border-image-source: linear-gradient(92.24deg, #7765DA -8.5%, #1D68BD 101.3%);
}

.question-gradient{
  background: linear-gradient(90deg, #343434 0%, #6E6E6E 100%);
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #F2F2F2;
  color: #373737;
}
